<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tbx.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B0570F910E4E136A69587E6F75DAF7598E6003D9</string>
				<key>dateExpires</key>
				<string>4/17/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B0570F910E4E136A69587E6F75DAF7598E6003D9</string>
						<key>dateExpires</key>
						<string>4/17/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B33A25HU94</string>
						<key>name</key>
						<string>Sangeet Simon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B0570F910E4E136A69587E6F75DAF7598E6003D9</string>
						<key>dateExpires</key>
						<string>4/17/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B33A25HU94</string>
						<key>name</key>
						<string>Sangeet Simon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B0570F910E4E136A69587E6F75DAF7598E6003D9</string>
						<key>dateExpires</key>
						<string>4/17/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B33A25HU94</string>
						<key>name</key>
						<string>Sangeet Simon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B0570F910E4E136A69587E6F75DAF7598E6003D9</string>
						<key>dateExpires</key>
						<string>4/17/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B33A25HU94</string>
						<key>name</key>
						<string>Sangeet Simon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B0570F910E4E136A69587E6F75DAF7598E6003D9</string>
						<key>dateExpires</key>
						<string>4/17/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B33A25HU94</string>
						<key>name</key>
						<string>Sangeet Simon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B0570F910E4E136A69587E6F75DAF7598E6003D9</string>
						<key>dateExpires</key>
						<string>4/17/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B33A25HU94</string>
						<key>name</key>
						<string>Sangeet Simon</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B0570F910E4E136A69587E6F75DAF7598E6003D9</string>
						<key>dateExpires</key>
						<string>4/17/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WWCalendarTimeSelector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>B33A25HU94</string>
						<key>name</key>
						<string>Sangeet Simon</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>B33A25HU94.com.eventzapp.com</string>
				<key>com.apple.developer.team-identifier</key>
				<string>B33A25HU94</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>B33A25HU94.com.eventzapp.com</string>
				</array>
			</dict>
			<key>name</key>
			<string>Evenzt.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0135e799-7f6a-428d-a763-14ae340a4851</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.eventzapp.com</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>B33A25HU94</string>
				<key>name</key>
				<string>Sangeet Simon</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
